*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bola{   
    display: flex;
    margin-left: auto;
    margin-bottom: 30px;
    margin-right: auto;
    justify-content: flex-start;
    align-items: center;
     gap: 20px;
    width: 1000px;
    border: 2px solid #0000ff;
    border-radius: 20px;
    padding: 30px 0;
}
.nevara{
    width: 100px;
    height: 100px;
    background-color: red;
}
 .scs{
    display: flex;
    margin-left: auto;
    margin-bottom: 30px;
    margin-right: auto;
    justify-content:center;
    align-items: center;
     gap: 20px;
    width: 1000px;
    border: 2px solid #0000ff;
    border-radius: 20px;
    padding: 30px 0;
 }
 .nv{
    display: flex;
    margin-left: auto;
    margin-bottom: 30px;
    margin-right: auto;
    justify-content: end;
    align-items: center;
     gap: 20px;
    width: 1000px;
    border: 2px solid #0000ff;
    border-radius: 20px;
    padding: 30px 0;
 }
 .css{
    display: flex;
    margin-left: auto;
    margin-bottom: 30px;
    margin-right: auto;
    justify-content: space-evenly;
    align-items: center;
     gap: 20px;
    width: 1000px;
    border: 2px solid #0000ff;
    border-radius: 20px;
    padding: 30px 0;
 
 }

 .fvs{
    display: flex;
    margin-left: auto;
    margin-bottom: 30px;
    margin-right: auto;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    border: 2px solid #0000ff;
    border-radius: 20px;
    padding: 30px 0;
 }